{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uppeople Lviv</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <link href="{% static "styles/normalize.css" %}" rel="stylesheet">
    <link href="{% static "styles/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "libs/font-awesome/css/font-awesome.min.css" %}">
    <link href="{% static "styles/main.css" %}" rel="stylesheet">
    <link href="{% static "styles/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "fonts/icomoon/style.css" %}" rel="stylesheet">
    <link href=" {% static "images/icon.png" %}" rel="shortcut icon" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

<div id="page-preloader" class="preloader">

    <div class="main">
        <div class="cell">
            <div class="pl pl-fade"></div>
            <div class="pl-name">Uppeople</div>
        </div>
    </div>

</div>

<header class="header" id="myHeader">

    <div class="container">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>

            <div class="logo">
                <a href="#">
                    <img class="logo_img" src="{% static "images/logo.png" %}" id="logo_img" alt="Uppeople Lviv">
                </a>
            </div>

            <div class="nav-wrapper">
                <ul>
                    {#                   <li><a href="#">Home</a></li>#}
                    <li class="active"><a href="#">Vacancies</a></li>
                    <li><a href="#">Details</a></li>
                    {#                    <li class="view-vacancy"><a href="#">View all jobs</a></li>#}

                </ul>
            </div>


        </nav>
    </div>
</header>

<section class="content">

    <div class="container">
        <div class="post-header">
            <h1 class="search-title">Choose a dream job!</h1>
            <div class="text-content">
                <p style="text-align: center;">The easiest and fastest way to find the dream job. It is your time to
                    level up!</p>
            </div>
        </div>
    </div>

    <section class="filter">

        <div class="container">

            {#            <h2 class="filter-label">Технологии</h2>#}
            <section class="checkbox-section">

                <div class="checkbox">
                    <input type="checkbox" id="tag-42" name="VacancyFilter" value="JavaScript">
                    <label for="tag-42">
                        <span class="vacancy-name">JavaScript</span>
                        <span class="vacancy-counter"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-0" name="VacancyFilter" value="Nodejs">
                    <label for="tag-0">
                        <span class="vacancy-name">Nodejs</span>
                        <span class="vacancy-counter">1</span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-1" name="VacancyFilter" value="Net">
                    <label for="tag-1">
                        <span class="vacancy-name">.Net</span>
                        <span class="vacancy-counter"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-2" name="VacancyFilter" value="Frontend">
                    <label for="tag-2">
                        <span class="vacancy-name">Frontend</span>
                        <span class="vacancy-counter"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-3" name="VacancyFilter" value="hr">
                    <label for="tag-3">
                        <span class="vacancy-name">hr</span>
                        <span class="vacancy-counter"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-4" name="VacancyFilter" value="FullStack">
                    <label for="tag-4">
                        <span class="vacancy-name">FullStack</span>
                        <span class="vacancy-counter">0</span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-5" name="VacancyFilter" value="Golang">
                    <label for="tag-5">
                        <span class="vacancy-name">Golang</span>
                        <span class="vacancy-counter"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-6" name="VacancyFilter" value="Java">
                    <label for="tag-6">
                        <span class="vacancy-name">Java</span>
                        <span class="vacancy-counter">1</span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-7" name="VacancyFilter" value="PHP">
                    <label for="tag-7">
                        <span class="vacancy-name">PHP</span>
                        <span class="vacancy-counter"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-8" name="VacancyFilter" value="Python">
                    <label for="tag-8">
                        <span class="vacancy-name">Python</span>
                        <span class="vacancy-counter"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="tag-9" name="VacancyFilter" value="Designer">
                    <label for="tag-9">
                        <span class="vacancy-name">UI/UX Designer</span>
                        <span class="vacancy-counter">1</span>
                    </label>
                </div>

                <div class="site-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 list-view">
                                <div class="job-post-item d-md-flex align-items-center text-left" id="menu_tags">
                                    <div class="col-xs-12 col-md-4">
                                        <h2 class="mr-3 text-color-grey">Vacancies</h2>
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <h2 class="mr-2 text-color-grey">Location</h2>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <h2 class="mr-2 text-color-grey">Tags</h2>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <h2 class="mr-2 text-color-grey">Details</h2>
                                    </div>
                                </div>

                                {% for job in jobs %}

                                    <div class="job-post-item  d-md-flex align-items-center text-left"
                                         tags="{{ job.tags }}"
                                         name="job"
                                         style="display: none">
                                        <div class="col-md-4">
                                            <header class="box-item_header">
                                                <h3 class="box-item-title">
                                                    <a href="{{ job.link }}"
                                                       class="box-item-title-link job-details">{{ job.short_job_name }}</a>
                                                </h3>
                                                {% if job == source %}
                                                    <div class="hot">
                                                        <div class="hot__bg" style="background-color: #e06287"></div>
                                                        <span class="hot__text"
                                                              style="color: #e06287">Hot-{{ job.hot }}</span>
                                                    </div>
                                                {% endif %}

                                            </header>
                                        </div>
                                        <div class="col-md-2">
                                            <h2 class="mr-2 text-color job-location">{{ job.loacation }}</h2>
                                        </div>
                                        <div class="col-md-3 box">
                                            <div class="icon">
                                                <span class="mr-2">{% for tag in job.tags.all %}{{ tag.name }}
                                                    <br/>{% endfor %}</span>
                                                {#                                                <img src="{% static "images/nodejs.png" %}" class="technology-icon"#}
                                                {#                                                     alt="nodejs icon">#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ job.link }}"
                                               class="btn-3 mr-2 box-item-title-link job-details details-btn">Details</a>
                                        </div>
                                    </div>
                                {% endfor %}


                                {##}
                                {#                                <div class="job-post-item  d-md-flex align-items-center text-left" tags="Nodejs"#}
                                {#                                     name="job"#}
                                {#                                     style="display: none">#}
                                {#                                    <div class="col-md-4">#}
                                {#                                        <header class="box-item_header">#}
                                {#                                            <h3 class="box-item-title">#}
                                {#                                                <a href="/job/1" class="box-item-title-link job-details">Nodejs</a>#}
                                {#                                            </h3>#}
                                {#                                            <div class="hot">#}
                                {#                                                <div class="hot__bg" style="background-color: #e06287"></div>#}
                                {#                                                <span class="hot__text" style="color: #e06287">Hot</span>#}
                                {#                                            </div>#}
                                {#                                        </header>#}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-2">#}
                                {#                                        <h2 class="mr-2 text-color job-location">Кyiv</h2>#}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-3 box">#}
                                {#                                        <div class="icon">#}
                                {#                                            <span class="mr-2">Nodejs</span>#}
                                {#                                            <img src="{% static "images/nodejs.png" %}" class="technology-icon"#}
                                {#                                                 alt="nodejs icon">#}
                                {#                                        </div>#}
                                {##}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-4">#}
                                {#                                        <a href="/job/1" class="btn-3 mr-2 box-item-title-link job-details details-btn">Details</a>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="job-post-item  d-md-flex align-items-center text-left" tags="Java"#}
                                {#                                     name="job">#}
                                {#                                    <div class="col-md-4">#}
                                {#                                        <header class="box-item_header">#}
                                {#                                            <h3 class="box-item-title">#}
                                {#                                                <a href="/job/2" class="box-item-title-link job-details">Java</a>#}
                                {#                                            </h3>#}
                                {#                                            <div class="hot">#}
                                {#                                                <div class="hot__bg" style="background-color: #e06287"></div>#}
                                {#                                                <span class="hot__text" style="color: #e06287">Hot</span>#}
                                {#                                            </div>#}
                                {#                                        </header>#}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-2">#}
                                {#                                        <h2 class="mr-2 text-color job-location">Кyiv</h2>#}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-3 box">#}
                                {#                                        <div class="icon">#}
                                {#                                            <span class="mr-2">Java</span>#}
                                {#                                            <img src="{% static "images/java-1.png" %}" class="technology-icon-java"#}
                                {#                                                 alt="java icon">#}
                                {#                                        </div>#}
                                {##}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-4">#}
                                {#                                        <a href="/job/2" class="btn-3 mr-2 box-item-title-link job-details details-btn">Details</a>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                <div class="job-post-item  d-md-flex align-items-center text-left" tags="Designer"#}
                                {#                                     name="job">#}
                                {#                                    <div class="col-md-4">#}
                                {#                                        <header class="box-item_header">#}
                                {#                                            <h3 class="box-item-title">#}
                                {#                                                <a href="/job/3" class="box-item-title-link job-details">2d Animator</a>#}
                                {#                                            </h3>#}
                                {#                                            <div class="hot">#}
                                {#                                                <div class="hot__bg" style="background-color: #e06287"></div>#}
                                {#                                                <span class="hot__text" style="color: #e06287">Hot</span>#}
                                {#                                            </div>#}
                                {#                                        </header>#}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-2">#}
                                {#                                        <h2 class="mr-2 text-color job-location">Кyiv</h2>#}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-3">#}
                                {#                                    </div>#}
                                {#                                    <div class="col-md-4">#}
                                {#                                        <a href="/job/3" class="btn-3 mr-2 box-item-title-link job-details details-btn">Details</a>#}
                                {#                                    </div>#}
                                {#                                </div>#}

                            </div>

                            <div class="another-view">
                                <div class="col-lg-4" tags="Nodejs" name="job">
                                    <article class="box-item">
                                        <header class="box-item_header">
                                            <h3 class="box-item-title">
                                                <a href="/job/1" class="box-item-title-link">Nodejs</a>
                                            </h3>
                                            <div class="hot">
                                                <div class="hot__bg" style="background-color: #e06287"></div>
                                                <span class="hot__text" style="color: #e06287">Hot</span>
                                            </div>
                                        </header>
                                        <main class="box-item-description">
                                            <p>
                                                Exciting times at sfdfdsfsdfsdfsdfdfsd
                                            </p>
                                        </main>
                                        <footer class="box-item-footer">
                                            <p class="location-text-wrap">
                                            <span class="location-text">
                                                Kiev
                                            </span>
                                            </p>
                                            <section class="box-item-tags">
                                                <ul class="tags">
                                                    <li class="tags-item">
                                                        <div class="lang box">
                                                            <div class="lang__bg"></div>
                                                            <div class="icon">
                                                                <span class="mr-2">Nodejs</span>
                                                                <img src="{% static "images/nodejs.png" %}"
                                                                     class="technology-icon" alt="nodejs icon">
                                                            </div>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </section>
                                        </footer>
                                    </article>
                                </div>
                                <div class="col-lg-4" tags="Java" name="job">
                                    <article class="box-item">
                                        <header class="box-item_header">
                                            <h3 class="box-item-title">
                                                <a href="/job/2" class="box-item-title-link">Java</a>
                                            </h3>
                                            <div class="hot">
                                                <div class="hot__bg" style="background-color: #e06287"></div>
                                                <span class="hot__text" style="color: #e06287">Hot</span>
                                            </div>
                                        </header>
                                        <main class="box-item-description">
                                            <p>
                                                Exciting times at sfdfdsfsdfsdfsdfdfsd
                                            </p>
                                        </main>
                                        <footer class="box-item-footer">
                                            <p class="location-text-wrap">
                                            <span class="location-text">
                                                Kiev
                                            </span>
                                            </p>
                                            <section class="box-item-tags">
                                                <ul class="tags">
                                                    <li class="tags-item">
                                                        <div class="lang box">
                                                            <div class="lang__bg"></div>
                                                            <div class="icon">
                                                                <span class="mr-2">Java</span>
                                                                <img src="{% static "images/java-1.png" %}"
                                                                     class="technology-icon" alt="nodejs icon">
                                                            </div>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </section>
                                        </footer>
                                    </article>
                                </div>
                                <div class="col-lg-4" tags="Designer" name="job">
                                    <article class="box-item">
                                        <header class="box-item_header">
                                            <h3 class="box-item-title">
                                                <a href="/job/3" class="box-item-title-link">2d Animator</a>
                                            </h3>
                                            <div class="hot">
                                                <div class="hot__bg" style="background-color: #e06287"></div>
                                                <span class="hot__text" style="color: #e06287">Hot</span>
                                            </div>
                                        </header>
                                        <main class="box-item-description">
                                            <p>
                                                Exciting times at sfdfdsfsdfsdfsdfdfsd
                                            </p>
                                        </main>
                                        <footer class="box-item-footer">
                                            <p class="location-text-wrap">
                                            <span class="location-text">
                                               Kiev
                                            </span>
                                            </p>
                                            <section class="box-item-tags">
                                                <ul class="tags">
                                                    <li class="tags-item">
                                                    </li>
                                                </ul>
                                            </section>
                                        </footer>
                                    </article>
                                </div>
                            </div>


                            <article class="box-item-message" id="box-item-message">

                                <main class="box-item-description-message">
                                    <p>Sorry, we have no vacancies for you.</p>
                                </main>

                            </article>

                        </div>

                    </div>
                </div>


            </section>

        </div>

    </section>

</section>

<section id="service" class="section-service md-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="title-offer">Advantages</h2>
        </div>
        <div class="row row-flex">
            <div class="col-md-12 col-sm-12 col-lg-4">
                <div class="service wow zoomIn" data-wow-duration="1s" data-wow-ofset="300">
                    <i class="fa fa-handshake-o"></i>
                    <p>We work on the win-win principle. <br>Those we find mutual benefit for 2 parties: not only to the
                        employer (as a usual practice), but also to the applicant. <br>After all, this is a partnership,
                        not a “galley" :)
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-4">
                <div class="service wow zoomIn" data-wow-duration="1s" data-wow-ofset="300">
                    <i class="fa fa-calendar"></i>
                    <p>Companies often do not answer a resume of 3 weeks.<br> We push to give feedback within 3 days
                        specifically. We understand that time is the most valuable resource.</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-4">
                <div class="service wow zoomIn" data-wow-duration="1s" data-wow-ofset="300">
                    <i class="fa fa-user"></i>
                    <p>For most companies, you are an ordinary candidate, and we see a person in you. <br>You did not
                        like the vacancy - it is NORMAL. <br> We will search again and offer the most suitable for you
                        :)</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="pre-footer wow fadeInUp" data-wow-duration="2.9s">
    <div class="container container-footer">
        <div class="row">
            <div class="col-sm-12 p0">
                <h3 class="cfa-text">
                    <p style="text-align: center; font-size: 22px; font-weight: bold">Didn't find a relevant job?</p>
                    Anyway, send us your CV - we will find the best one.
                </h3>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <button onclick="document.getElementById('modal-wrapper').style.display='block'"
                        class="btn pre-footer-link open-form">Send your CV
                </button>

                <div id="modal-wrapper" class="modal">

                    <form class="modal-content animate" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close"
                              title="Close Popup">&times;</span>
                        <h2 class="fs-title">Open application</h2>
                        <input type="text" name="text" minlength="10" required placeholder="Enter Your Linkedin"/>
                        <div class="file-upload">
                            <label for="uploadbtn" class="uploadButton">Upload CV</label>
                            <input type="file" name="upload" id="uploadbtn">
                        </div>
                        <div class="act-button">
                            <input type="submit" name="next" class="action-button" value="Send">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<footer class="footer-top">
    <div class="container">
        <div class="row">

        </div>
    </div>
    <p class="footer-bottom-text">All Right reserved by &copy; Uppeople Lviv</p>
</footer>


<script src="{% static "script/preloader.js" %}"></script>
<script src="{% static "script/wow.min.js" %}"></script>
{#<script src="{% static "script/script.js" %}"></script>#}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>